@import "variables.scss";

// GENERAL STYLES ///////////////////////////////////
/////////////////////////////////////////////////////

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: helvetica, sans-serif;
}


// HEADER STYLES ////////////////////////////////////
/////////////////////////////////////////////////////

.header-component {
  display: flex;
  flex-direction: column;
  background-color: $primaryLightColor;
  padding: 10px;
  text-align: center;

  .logo {
    margin: 0;
    color: $primaryDarkColor;
    font-weight: 300;
    font-size: 40px;
    margin-bottom: 10px;

    .logo-accent {
      color: $accentColor;
      font-weight: 500;
    }
  }

  .nav-link-container {
    display: flex;
    justify-content: center;

    .nav-link {
      margin: 0 10px;
      text-decoration: none;
      font-size: 18px;
      color: $primaryDarkColor;
      border-bottom: 2px solid transparent;
      transition: 200ms;

      &:hover {
        border-bottom: 2px solid $accentColor;
      }
    }
  }
}


// M E D I A  Q U E R I E S /////////////////////////
/////////////////////////////////////////////////////

@media screen and (min-width: 650px) {
  .header-component {
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;

    .logo {
      margin-bottom: 0;
    }

    .nav-link-container {
      display: flex;
      justify-content: center;

      .nav-link {
        margin: 0 10px;
        color: $primaryDarkColor;

        &:hover {
          padding-bottom: 3px;
          transform: translateY(-5px);
        }
        &:active {
          transform: translateY(-3px);
          padding-bottom: 1px;
        }
      }
    }

  }
}
